@import '../../node_modules/bootstrap/scss/functions';
@import 'variables';
@import '../../node_modules/bootstrap/scss/mixins';

html,
body {
  height: 100vh;
  background-color: getColor('light');
}

main {
  height: 100%;
  padding-top: 3rem;

  .scroll-to-top {
    font-size: 2.5rem;

    div {
      position: fixed;
      right: 1rem;
      bottom: 1rem;
    }

    i {
      color: getColor('primary');
      cursor: pointer;
      transition: opacity 1s ease-out;
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }
  }

  .text-h1 {
    color: getColor('primary')
  }

  .text-h2 {
    color: getColor('secondary')
  }

  .text-blue {
    color: getColor('blue')
  }

  .text-beige {
    color: getColor('beige')
  }

  .text-orange {
    color: getColor('orange')
  }

  .text-red {
    color: getColor('red')
  }

  .text-lightblue {
    color: getColor('lightblue')
  }

  .text-lightgrey {
    color: getColor('lightgrey')
  }

  .text-link {
    color: getColor('primary');
    opacity: 0.8;
    text-decoration: none;
    transition: opacity 0.3s;
    transition: color 0.3s linear;

    &:hover {
      opacity: 1;
      transition: color 0.3s linear;
    }

    span {
      font-size: 1rem;
    }

    &.opacity-100 {
      opacity: 1 !important;
    }
  }

  .text-link-button-orange {
    padding: 0.6rem;
    border: 1px solid getColor('primary');
    border-radius: 0.2rem;
    transition: background-color 0.3s linear;
    min-width: 180px;
    text-align: center;
    display: inline-block;

    &:hover {
      transition: background-color 0.3s linear;
      background-color: getColor('primary');
      color: getColor('orange');
    }
  }

  .text-smaller {
    font-size: 0.7rem !important;
    padding-top: 0.8rem;
  }
}

.home-banner {
  min-height: 80vh;

  .home-profile-pic {
    max-height: 500px;
  }
}

.home-link {
  margin-top: 1rem;

  a {
    &:hover {
      span {
        display: none
      }

      &::before {
        content: "Home Page";
      }
    }
  }
}

.resume-link {
  margin-top: 1rem;

  a {
    &:hover {
      span {
        display: none
      }

      &::before {
        content: "About My Resume";
      }
    }
  }
}

.blog-link {
  margin-top: 1rem;

  a {
    &:hover {
      span {
        display: none
      }

      &::before {
        content: "My Blog";
      }
    }
  }
}

.social-link {
  .icon-group {
    font-size: 1.8rem;
    color: getColor('primary');

    a {
      color: getColor('primary');
      opacity: 0.8;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .icon-group {
      font-size: 1.2rem;
    }
  }
}

.resume {
  padding: 2rem;

  .row {
    margin-bottom: 1rem;
  }

  .section-title {
    font-size: 1.25rem !important;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 50%;
      height: 1px;
      bottom: 0;
      left: 25%;
      border-bottom: 2px solid getColor('red');
    }
  }

  .intro {
    max-height: 500px;

    .intro-img {
      border: 1px solid getColor('primary');
      border-radius: 50%;
      max-height: 268px;
    }

    h2 {
      font-size: 1.75rem;
    }
  }

  .experience,
  .education,
  .achievements,
  .projects,
  .tools {
    h4 {
      font-size: 1rem !important;
    }

    span {
      font-size: 0.8rem;
    }

    li {
      font-size: 0.9rem;
    }
  }

  .achievements,
  .projects {
    @include media-breakpoint-down(md) {
      h4 {
        font-size: 0.9rem;
      }
    }
  }

  .tools {
    .progress {
      height: 2rem;
      font-family: inherit;
    }

    .progress-bar {
      padding-left: 1rem;
      background-color: getColor('lightblue');

      &-90 {
        width: 90%;
      }

      &-80 {
        width: 80%;
      }

      &-70 {
        width: 70%;
      }
    }
  }
}

.blogs {
  .card-img-top {
    height: 280px;
    object-fit: contain;
  }

  .card-body {
    min-height: 65px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  @media (min-width: 992px) {
    .col-lg-3 {
      flex: 0 0 auto;
      width: 33%;
    }
  }

  @media (min-width: 1380px) {
    .col-lg-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  }
}

.blog-post {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.45rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 0.95rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    padding-top: 1.5rem;
    padding-bottom: 0.8rem;
  }

  p,
  li,
  span {
    font-size: 0.9rem;
  }

  hr {
    margin-top: 1.5rem;
  }

  .wrapper {
    // width: 100%;

    img {
      max-width: 100%;
      height: auto;
      padding-left: 2rem;
      padding-bottom: 2rem;
    }

    pre,
    code {
      // padding-left: 2rem;
      color: getColor('red') !important;
    }

    pre {
      code {
        padding-left: 0;
      }
    }

    a {
      color: getColor('primary');
      opacity: 0.8;
      transition: opacity 0.3s;
      transition: color 0.3s linear;

      &:hover {
        opacity: 1;
        transition: color 0.3s linear;
      }
    }
  }
}

.footer {
  .social-link {
    .icon-group {
      font-size: 1.4rem;
    }

    @include media-breakpoint-down(md) {
      .icon-group {
        font-size: 0.9rem;
      }
    }
  }

  .beta::after {
    content: 'BETA';
    font-size: 10px;
    vertical-align: top;
  }
}