@import '../../node_modules/bootstrap/scss/functions';
@import 'variables';
@import '../../node_modules/bootstrap/scss/mixins';

html,
body {
    height: 100vh;
    background-color: getColor('light');
}

main {
    height: 100%;

    .text-h1 {
        color: getColor('primary')
    }

    .text-h2 {
        color: getColor('secondary')
    }

    .text-blue {
        color: getColor('blue')
    }

    .text-beige {
        color: getColor('beige')
    }

    .text-orange {
        color: getColor('orange')
    }

    .text-red {
        color: getColor('red')
    }
}

.intro-banner {
    .intro-profile-pic {
        max-height: 500px;
    }

    .intro-profile-pic-small {
        max-height: 100px;
    }
}

.social-link {
    .icon-group {
        font-size: 1.8rem;
        color: getColor('primary');

        a {
            color: getColor('primary');
            opacity: 0.8;
            transition: opacity 0.3s;

            &:hover {
                opacity: 1;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .icon-group {
            font-size: 1.2rem;
        }
    }
}